DB_USERNAME=
DB_PASSWORD=
DB_CLUSTER=clusterx.xxxxxx.mongodb.net
DB_NAME=
PORT=3000

# https://vapidkeys.com/
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# https://jwtsecrets.com/
JWT_SECRET=
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7
NODE_ENV=development